<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Employment", new_employment_path, class: "btn btn-info" %>
  </div>
  <h1>Employments</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Person</th>
      <th>Job Title</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @employments.each do |employment| %>
      <tr>
        <td><em>replace me with the organization</em></td>
        <td><em>replace me with the person</em></td>
        <td><em>replace me with the job title</em></td>
        <td><em>replace me with the location</em></td>
        <td>
          <%= link_to "edit", edit_employment_path(employment) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
